button{
  margin: 10px;
  font-size:16px;
  letter-spacing: 2px;
  font-weight:400;
  color: #ffffff;
  padding: 20px 40px;
  display:inline-block;
  text-decoration: none;
  border: none;
  outline:0;
  cursor: pointer;
}

.green{
  background-color: #00FF00;
}

.red{
  background-color: #FF0000;
}

.cart{
  text-align:center
}

.red:disabled{
  background-color: rgb(193, 191, 191);
  cursor: not-allowed
}