@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600;700&display=swap');
* {
  font-family: 'Lobster', cursive, 'Open Sans', sans-serif;
  background-color: #e0eef3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

input {
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #0000ff;
  font-size: 1rem;
  letter-spacing: 2px;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 1px solid #333;
  outline: none;
  border-radius: 10px;
}

ul > li {
  padding: 5px;
  letter-spacing: 2px;
}
