* {
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  display: flex;
  color: white;
  background-color: #020230;
}

.main {
  width: 75%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url('./assets/bg.jpg') center no-repeat;
  background-size: cover;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.bottom {
  height: 50%;
}

.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, #000);
  border: 2px solid #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.4rem;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  background: linear-gradient(#0e0124, #22074d);
  text-align: center;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 300;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: #0070d2;
}

.pyramid {
  width: 25%;
  background-color: #020230;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  padding: 20px;
  list-style-type: none;
  width: 100%;
}

.moneyListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: orange;
}

.moneyListItemAmount {
  font-size: 1.4rem;
}

.moneyListItemNumber {
  font-weight: bold;
  color: #d2d0d0;
  font-size: 1.2rem;
}
