.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

input, button{
  padding: 5px;
}

.add-btn, .remove-btn{
  background: rgb(2, 134, 249);
  color: #fff;
  border: none;
  padding: 7px;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.add-btn:active{
  background: rgb(13, 112, 199);
}

.remove-btn{
  background:#FF0000;
}

.list{
  margin: 20px 0;
}

.list div:not(:last-child){
  border-bottom: 1px solid #efefef;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.done{
  text-decoration: line-through;
}

.todo-item{
  display: block;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.todo-item:hover{
  font-weight: 600;
}